<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recruiterglobe">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Match.MatchForAthlete"></activity>
        <activity android:name=".Match.MatchForCoach" />
        <activity android:name=".LoginAndProfile.CoachProfileActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Chat.ChatActivity1" />
        <activity android:name=".Swipe.SecondMainActivity" />
        <activity android:name=".Registration.AthleteSetProfileActivity" />
        <activity android:name=".Registration.CoachSetProfileActivity" />
        <activity android:name=".Registration.AtheleteRegistrationActivity" />
        <activity android:name=".LoginAndProfile.AtheleteLoginActivity" />
        <activity android:name=".LoginAndProfile.CoachLoginActivity" />
        <activity android:name=".Registration.CoachRegistrationActivity" />
        <activity android:name=".LoginAndProfile.AthleteProfileActivity" />
        <activity android:name=".LoginAndProfile.login_option_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Swipe.MainActivity" />
    </application>

</manifest>